.left{
  max-width: 69.5%; 
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  margin-right: 22px;
  
}
.main-top{
  display: flex;
  background-color: #FFC119;
  height: 38px;
  justify-content: right;
  align-items: center;
}
.main-text{
  margin-left: 67px;
  font-weight: bold;
  font-family: sans-serif;
  font-size: .813rem;
  white-space: nowrap;
  color: #252525;
  padding: 0;
}
.main-text span{
  margin-right: 7px;
}
.recent{
  color: white;
  cursor: pointer;
}
#content-nav:hover{
  color: white;
  transition: all .3s linear;
  cursor: pointer;
}
.main-nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}
.page{
  padding-bottom: 7px;
  display: flex;
}
.page li{
  font-size: 12px;
  margin: 2px;
  padding: 3px 8px;
  color: #252525;
  cursor: pointer;
}
#page-one{
  color: white;
  background-color: #00a651;
}
.page li:hover{
  color: white;
  background-color: #00a651;
  transition: all .3s linear;
}
.main{
  max-width: 100%;
  padding-bottom: 1.5rem;
  border: solid 1px #a1a1a1;
}
.main-content{
  padding: 0 16px;
  position: relative;
}
.items{
  position: relative;
  display: grid;
  margin-top: 16px;
  column-gap: 13px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
}
.img-content{
  display: flex;
  flex-direction: column;
  justify-content: end;
 
}
.sub{
  position: absolute;
  max-height: 33px;
  z-index: 2;
  width: 10.25rem;
  text-align: center;
  background-image: -webkit-linear-gradient(rgba(222, 97, 29, 0),rgba(0, 0, 0, 0.451),rgba(0, 0, 0, 0.79));
  cursor: pointer;
}
#sub-logo{
  height: 32px;
  object-fit: contain;
}
.item-content{
  min-height: 270px;
}
.image{
  object-position: top;
  object-fit: cover;
  height: 207px;
  width: 100%;
  cursor: pointer;
}
.content-title{
  height: 34px;
  margin: 8px 0;
  color: #FFC119;
  cursor: pointer;
}
.content-title:hover{
  color: white;
  transition: all .3s linear;
}
.content-title, .content-episode{
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12px;
}
.content-episode{
  align-items: flex-end;
}
.popular-nav{
  display: flex;
  background-color: #FFC119;
  height: 2.375rem;
  justify-content: right;
  align-items: center;
  margin-bottom: .2rem;
}
.popular-container{
  margin-top: 1.75rem;
  border: solid .5px #a1a1a1;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.popular{
  padding: 1.25rem 0;
}
.popular img{
  height: 5.875rem;
  width: 5.625rem;
  object-fit: cover;
  object-position: top;
  margin: 0 1rem 0 1.125rem;
}
.popular ul{
  display: flex;
  flex-direction: column;
}
.popular{
  columns: 2;
  -webkit-column: 2;
  -moz-column: 2;
  column-rule: solid .1px rgb(91, 91, 91);
}
.popular ul li{
  display: flex;
  flex-direction: row;
  font-size: .75rem;
  padding-top: .625rem;
  padding-bottom: .625rem;
}
.popular-update{
  cursor: text;
  color: black;
}
.popular-title{
  color: #FFC119;
  padding-bottom: .5rem;
}
.popular-title:hover{
  color: white;
  transition: all .3s linear;
  cursor: pointer;
}
.popular-genre{
  color: #898989;
}
.popular-genre span:hover{
  cursor: pointer;
  color: white;
  transition: all .3s linear;
}
.popular-episode{
  color: #898989;
}
.popular-episode span{
  color: white;
}
.popular-episode span:hover{
  color: #FFC119;
  transition: all .3s linear;
  cursor: pointer;
}
.recently-container{
  margin-top: 1.75rem;
  border: solid .5px #a1a1a1;
  overflow: hidden;
  width: 100%;
}
.recently-content ul{
  columns: 2;
  -webkit-column: 2;
  -moz-column: 2;
  column-rule: solid .1px rgb(91, 91, 91);
  margin: .5rem 0;

}
.recently-content{
  padding: .5rem .2rem;

}
.recently-content ul li{
    margin-right: .5rem;
    padding: .25rem .875rem;
    font-size: .75rem;
    color: #ffc119;
    overflow: hidden;
    white-space: nowrap;
}
.recently-content ul li:hover{
  color: white;
  transition: all .3s linear;
  cursor: pointer;
}
@media (max-width: 1087px) {
  .left{
    max-width: 100%;
  }
  .items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}